## Import necessary packages

In [1]:
import requests
import io
import pandas as pd
import time
import glob
import os
from datetime import datetime  
from datetime import timedelta

## Get data from API and Write Out

In [2]:
list_of_files = glob.glob(r'..\..\data\dev_data\*') # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
latest_date = latest_file.split("series_")[1].split(".csv")[0]
latest_date_dt = datetime.strptime(latest_date,"%Y_%m_%d").date()
start_date = latest_date_dt.strftime("%Y-%m-%d")
today_date = datetime.now().strftime("%Y-%m-%d")

In [42]:
url = "https://api.covid19api.com/all"

payload = {}
headers= {}
params = {'from':start_date, 'to':today_date}
response = requests.request("GET", url, params=params,headers=headers, data = payload)

print(response.text.encode('utf8'))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [43]:
j = response.json()

In [44]:
full_time_series = pd.DataFrame(j)

In [9]:
timestr = time.strftime("%Y_%m_%d")

'2020_04_14'

In [13]:
## write out data for usage in modeling notebook
full_time_series.to_csv(r'C:\Users\pspat\Documents\school_related\MSiA\MSiA_423\project\dev_data\covid19_time_series_{}.csv'.format(timestr))

In [45]:
full_time_series.head()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z
1,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z
2,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z
3,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-25T00:00:00Z
4,Afghanistan,AF,,,,33.94,67.71,0,0,0,0,2020-01-26T00:00:00Z